.Editor {
  position: relative;
  textarea {
    border: none;
    width: 100%;
    height: 100%;
  }

  .CodeMirror {
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .CodeMirror-scroll {
    flex: 1;
  }

  .ReactCodeMirror {
    position: relative;
    flex: 1;
    display: flex;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 45px;
      z-index: 1;
      background: #f7f7f7;
      border-right: 1px solid #ddd;
      height: 100%;
    }
  }

  .mode-selector {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99;
  }

  .wrap-selector {
    position: absolute;
    bottom: 5px;
    right: 120px;
    z-index: 99;
    span {
      margin-left: 4px;
    }
  }

  button {
    position: absolute;
    bottom: 10px;
    left: 54px;
    z-index: 99;
  }
}
