.Modal {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  height: calc(100% + 100px);
  margin-top: -100px;
}

.Modal__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Modal__content {
  position: relative;
  width: 420px;
  background: #efefef;
  border: 1px solid #a3a3a3;
  border-top: 0;

  padding: 18px 20px 18px 100px;
  box-shadow: inset 1px 4px 9px -6px, 0 5px 20px rgba(0, 0, 0, 0.3);

  margin: 100px auto 0;

  font-size: 12px;

  .nt-button-group {
    margin-top: 20px;
  }

  * {
    -webkit-user-select: text;
  }
}

.Modal__icon {
  position: absolute;
  left: 20px;
  top: 22px;
  width: 62px;
  height: 57px;
  background: transparent url(./warning.png) left top no-repeat;
  background-size: 62px 57px;

  span {
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 34px;
    height: 34px;
    background: transparent url(./icon.png) left top no-repeat;
    background-size: 34px 34px;
  }
}

.Modal__form {
  h3 {
    display: none;
  }

  .ui-corner-all {
    padding: 0 !important;
    margin: 0 !important;
  }

  .form-control {
    position: relative;
    background: none;
    border: 0;
    padding: 4px 0px 14px !important;

    label {
      position: absolute;
      left: -90px;
      text-align: right;
      width: 80px;
      font-weight: normal !important;
    }

    input, select {
      width: 100% !important;
      margin: 0 !important;
    }

    .ui-state-error {
      position: absolute;
      top: 25px;
      opacity: 0;
    }
  }

  .ui-state-error {
    color: #ff2a1c;
    font-size: 12px;
  }

  // input, select {
  //   width: 100%;
  //   min-height: 25px;
  //   padding: 5px 10px;
  //   line-height: 1.6;
  //   background-color: #fff;
  //   border: 1px solid #ddd;
  //   outline: 0;

  //   &:focus {
  //     border-radius: 4px;
  //     border-color: #6db3fd;
  //     box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd, 3px -3px 0 #6db3fd;
  //   }
  // }
}

.modal-enter {
  .Modal__content {
    transform: translateY(-100%);
  }
}

.modal-enter.modal-enter-active {
  .Modal__content {
    transform: translateY(0);
    transition: transform 150ms linear;
  }
}

.modal-leave {
  .Modal__content {
    transform: translateY(0);
  }
}

.modal-leave.modal-leave-active {
  .Modal__content {
    transform: translateY(-100%);
    transition: transform 150ms linear;
  }
}
