.Config {
  overflow: auto;
  .wrapper {
    width: 430px;
    margin: 0 auto;
    .nt-form-row label {
      width: 170px;
    }
  }

  h3 {
    font-size: 20px;
  }

  .nt-button-group {
    margin: 20px 0;
  }
}
