.AddButton {
  position: relative;

  span.plus, span.reload {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    line-height: 13px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-image: linear-gradient(#fff, #efefef);
    text-align: center;
    font-weight: normal;
    color: #888;

    &:hover {
      background: #fff;
    }

    &:active {
      background: #efefef;
    }
  }

  span.reload {
    right: 24px;
  }
}
