.Modal {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999999;
  height: calc(100% + 100px);
  margin-top: -100px;

}

.Modal__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Modal__content {
  position: relative;
  width: 420px;
  background: #efefef;
  border: 1px solid #a3a3a3;

  padding: 18px 20px 18px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

  margin: 99px auto 0;

  font-size: 12px;

  .nt-button-group {
    margin-top: 20px;
  }

  * {
    -webkit-user-select: text;
  }
}
