.TabBar {
  text-align: right;
  border-bottom: 1px solid #d3d3d3;
  .item {
    display: inline-block;
    padding: 12px;

    .icon {
      margin-right: 5px;
    }

    &.is-active {
      background: #dbdfe1;
    }
  }
}
