.Terminal {
  overflow: auto;
  * {
    -webkit-user-select: text;
  }

  .number {
    color: #78CF8A;
  }

  .string {
    color: #8f9d6a;
  }

  .array-resp, .object-resp {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      span {
        color: #3d3d3d;
        min-width: 28px;
        text-align: right;
        margin-right: 10px;
      }
      div {
        flex: 1;
      }
    }
  }

  .object-resp li span {
    font-weight: bold;
    color: #cda869;
  }

  .null {
    color: #cf7ea9;
  }

  .error {
    color: #ee6868 !important;
  }

  .list {
    color: #8f9d6a;
  }

  .monitor {
    color: #8f9d6a;
    .time {
      color: #3d3d3d;
      margin-right: 4px;
    }

    .command-name {
      color: #cf7ea9;
    }

    .command-key {
      color: #cda869;
    }
  }
}
